[user]
	name = tangshizhong
	email = tangsz@maxictech.com
[alias]
	gcfg = config --global
	co = checkout
	cl = clone
	cp = cherry-pick
	br = branch
	st = status
	del = branch -D
	a = add .
	cm = commit
	fix = commit --amend
	dft = difftool -d
	df = diff
	ldf = diff HEAD^ HEAD
	cob = checkout -b
	sts = status
	ldft = dft HEAD^ HEAD
	pushrmt = push --set-upstream origin
	rebdev = "!f() { git fetch origin develop:develop; git rebase origin/develop;}; f"
	pushf = push -f
	codev = checkout develop
	fo = fetch origin
	cobj = "!f() { git checkout -b personal/tangsz/jira$1;}; f"
	reborg = "!f() { git fetch origin; git rebase origin/$1;}; f"
	cobp = "!f() { git checkout -b personal/tangsz/$1;}; f"
[diff]
	tool = bc4
[difftool]
	promt = false
[difftool "bc4"]
	cmd = \"C:\\Program Files\\Beyond Compare 4\\BComp.exe\" \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = bc4
[mergetool]
	promt = false
[mergetool "bc4"]
	cmd = "\"C:\\Program Files\\Beyond Compare 4\\BComp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\""
[core]
	editor = \"C:\\Program Files (x86)\\Notepad++\\notepad++.exe\"

